@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --cor-fundo: #e7e7e7;
    --cor-texto: #181D2B;
    --cor-primaria: #28c06a;
    --cor-html: #F15A2B;
    --cor-css: #1775BB;
    --cor-javascript: #FCB040;
    /* Fontes */
    --fonte-primaria: "Poppins", sans-serif;
    /* Configurações */
    font-size: 16px;
}

[tema="escuro"] {
    --cor-fundo: #181D2B;
    --cor-texto: #FEFEFE;
    --cor-primaria: #28c06a;
}

* {
    box-sizing: border-box;
    transition: background-color 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fonte-primaria);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

.destaque {
    font-weight: 600;
    color: var(--cor-primaria);
}

.destaque-maior {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--cor-texto);
}

header {
    position: sticky;
    top: -2px;
    background-color: var(--cor-fundo);
    z-index: 2;
}

#header-container {
    height: 82px;
    display: flex;
    align-items: center;
    padding: 2rem;
}

#link-voltar-inicio {
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--cor-primaria);
}

#nav-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
}

#btn-troca-tema {
    font-size: 1.5rem;
    padding: 0;
    background-color: transparent;
    color: var(--cor-texto);
    border: none;
    outline: none;
    cursor: pointer;
}

#icone-botao-troca-tema {
    width: 25px;
}

#menu-hamburguer {
    width: 40px;
    height: 30px;
    display: block;
    position: relative;
    cursor: pointer;
}

.menu-hamburguer-barra {
    width: 100%;
    height: 3px;
    background-color: var(--cor-texto);
    border-radius: 8px;
    position: absolute;
    left: 0;
    transition: .3s;
}

#menu-hamburguer-barra-1 {
    top: 0;
}

#menu-hamburguer-barra-2 {
    top: 13px;
}

#menu-hamburguer-barra-3 {
    top: 25px;
}

#menu-hamburguer.ativo #menu-hamburguer-barra-1 {
    top: 15px;
    transform: rotate(-45deg);
}

#menu-hamburguer.ativo #menu-hamburguer-barra-2 {
    display: none;
}

#menu-hamburguer.ativo #menu-hamburguer-barra-3 {
    top: 15px;
    transform: rotate(45deg);
}

#lista-links-menu {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: .3s;
    position: absolute;
    left: 0;
    top: 82px;
}

#menu-hamburguer.ativo+#lista-links-menu {
    width: 100%;
    height: 100dvh;
    background-color: var(--cor-fundo);
}

.links-menu-item {
    text-align: center;
    margin-bottom: 2rem;
}

.links-menu-item:nth-child(1) {
    margin-top: 2rem;
}

.link-navegacao {
    color: var(--cor-texto);
    font-size: 1.2rem;
    font-weight: 600;
    transition: .3s;
}

.link-navegacao:hover {
    color: var(--cor-primaria);
}

#main-container,
#footer-container {
    padding: 2rem 1.5rem;
}

#secao-home {
    min-height: 80dvh;
    text-align: center;
    padding-top: 100px;
}

#apresentacao-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#imagem-apresentacao {
    width: min(calc(50dvw + 120px), 500px);
    margin: auto;
}

#titulo-apresentacao {
    font-size: min(6dvw, 40px);
    font-weight: 600;
    line-height: min(12dvw, 80px);
}

#resumo-home {
    width: min(100%, 500px);
    margin: auto;
    line-height: 2rem;
}

#lista-redes-sociais-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.link-redes-sociais {
    font-size: 2.5rem;
    color: var(--cor-texto);
    transition: .3s;
}

.link-redes-sociais:hover {
    color: var(--cor-primaria);
}

#conhecimento-container {
    margin-top: 4rem;
}

#titulo-conhecimento {
    color: var(--cor-primaria);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#lista-conhecimnento {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.conhecimento-item {
    font-size: 3rem;
    transition: .5s;
}

.conhecimento-item:hover {
    transform: scale(120%);
}

.fa-html5 {
    color: var(--cor-html);
}

.fa-css3-alt {
    color: var(--cor-css);
}

.fa-js {
    color: var(--cor-javascript);
}

#secao-sobre-mim,
#secao-projetos,
#secao-formacao,
#secao-experiencia,
#secao-contato {
    padding-top: 100px;
    text-align: center;
}

#titulo-sobre-mim,
#titulo-projetos,
#titulo-formacao,
#titulo-experiencia,
#titulo-contato {
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-primaria);
    margin: 4rem 0;
}

#subtitulo-sobre-mim {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    margin-bottom: 2rem;
}

#descricao-sobre-mim {
    width: min(100%, 620px);
    margin: auto;
    text-align: justify;
    line-height: 2rem;
}

#lista-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.projetos-item {
    width: min(100%, 620px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.imagem-projeto {
    width: 100%;
    max-height: 300px;
    border-radius: 8px;
}

.resumo-projeto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.titulo-projeto {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 600;
    color: var(--cor-primaria);
}

.descricao-projeto {
    text-align: justify;
    line-height: 2rem;
}

.lista-tecnologias-projeto {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.tecnologias-projeto-item {
    font-size: 1rem;
    font-weight: 600;
    margin: .5rem 0;
}

.botoes-projeto {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.botao-projeto {
    width: min(100%, 300px);
    height: 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 1.1rem;
    line-height: 50px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.botao-acessar-repositorio {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    border-color: var(--cor-texto);
}

.botao-acessar-repositorio:hover {
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
}

.botao-acessar-projeto {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border-color: var(--cor-primaria);
}

.botao-acessar-projeto:hover {
    background-color: var(--cor-texto);
    color: var(--cor-primaria);
    border-color: var(--cor-texto);
}

#lista-formacao,
#lista-experiencia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.formacao-item,
.experiencia-item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min(100%, 380px);
    padding: 2rem .5rem;
    font-weight: 500;
    border: 2px solid var(--cor-texto);
    border-radius: 16px;
    position: relative;
    line-height: 1.5rem;
}

.formacao-item::before,
.experiencia-item::before {
    content: '';
    width: 2px;
    height: 3rem;
    background-color: var(--cor-texto);
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

.formacao-concluida {
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    border-color: var(--cor-primaria);
}

.formacao-concluida .status-formacao {
    color: var(--cor-texto);
}

.status-formacao {
    color: var(--cor-primaria);
    font-weight: 500;
}

.formacao-concluida::before {
    background-color: var(--cor-primaria);
}

.experiencia-item {
    animation: balanca 3s infinite;
}

#lista-contato {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.contato-item {
    width: min(100%, 400px);

    border: 1px solid var(--cor-texto);
    border-radius: 16px;
    transition: .3s;
}

.contato-item:hover {
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
}

.contato-item:hover .link-contato,
.contato-item:hover .fa-arrow-up-right-from-square {
    color: var(--cor-fundo);
}

.contato-item i {
    font-size: 1.2rem;
}

.link-contato {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--cor-texto);
    padding: 2rem 1rem;
}

.contato-item-titulo {
    font-size: 1.1rem;
    font-weight: 500;
}

.fa-arrow-up-right-from-square {
    margin-left: auto;
    color: var(--cor-primaria);
}

#paragrafo-copyright {
    text-align: center;
    margin: 4rem 0 2rem;
    line-height: 1.5rem;
}

@keyframes balanca {
    33% {
        transform: translateX(-13px) rotate(5deg);
    }

    66% {
        transform: translateX(13px) rotate(-5deg);
    }
}

@media (min-width: 840px) {
    #header-container {
        justify-content: space-evenly;
    }

    #nav-container {
        flex-direction: row-reverse;
        margin-left: 0;
    }

    #menu-hamburguer {
        display: none;
    }

    #lista-links-menu {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: auto;
        height: auto;
        position: static;
    }

    #menu-hamburguer.ativo+#lista-links-menu {
        width: auto;
        height: auto;
    }

    .links-menu-item {
        text-align: left;
        margin: 0;
    }

    .links-menu-item:nth-child(1) {
        margin: 0;
    }

    .link-navegacao {
        font-size: 1rem;
    }
}

@media (min-width: 1200px) {

    #secao-sobre-mim,
    #secao-projetos,
    #secao-formacao,
    #secao-experiencia,
    #secao-contato {
        padding-top: 150px;
    }

    .projetos-item {
        width: min(100%, 1250px);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .projetos-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    .imagem-projeto {
        width: 620px;
        height: 100%;
        max-height: none;
        min-height: 360px;
        object-fit: cover;
    }

    .projetos-item:nth-child(odd) .resumo-projeto {
        padding-right: 2rem;
    }

    .resumo-projeto {
        width: 530px;
        gap: 1.3rem;
    }

    .descricao-projeto {
        line-height: 1.7rem;
        text-align: center;
    }

    .botao-projeto {
        width: 40%;
    }
}